<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="vendor/bootstrap-4.1.3/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="css/main.css" />

    <title>Заметки</title>
  </head>
  <body>
  
  
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container">
      <a class="navbar-brand" href="index.html">Заметки</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
      
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Главная <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">О проекте</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="newnote.html">Новая заметка</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="notes.html">Заметки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tags.html">Теги</a>
          </li>
        </ul>
        
      </div>
    </div>
    </nav>

    <main role="main"class="container">
      <div class="row">
        <div class="col content">

		    <h1>Редактирование заметки ID: 8</h1>
            <br />
            
      
            <div class="alert alert-success" role="alert">
              Запись сохранена.
            </div>
            <div class="alert alert-danger" role="alert">
              Произошла ошибка!
            </div>
		  
			<form onSubmit="(e) => this.handleSubmit(e, this)" action="#" method="post">
				<div class="form-group">
					<label for="title">Заголовок</label><br />
					<input type="text" id="title" name="title" class="form-control" ref='title' value="Тестовый заголовок" />
				</div>
				<div class="form-group">
					<label for="text">Текст</label><br />
				    <textarea rows="10" id="text" name="text" class="form-control" ref='text'>Тестовое описание</textarea>
				</div>
				<div class="form-group">
					<label for="tags">Теги (через запятую)</label><br />
					<input type="text" id="tags" name="tags" class="form-control" ref='tags' value="нефть, газ" />
				</div>
				
			    <p><button type="submit" class="btn btn-primary">Сохранить</button></p>
			</form>
      

        </div>
      </div>

    <br />
      
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="vendor/jquery-3.3.1.min.js"></script>
    <script src="vendor/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>