<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="vendor/bootstrap-4.1.3/css/bootstrap.min.css" />

    <link rel="stylesheet" href="css/main.css" />

    <title>Заметки</title>
</head>

<body>


    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="index.html">Заметки</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Главная <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">О проекте</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="newnote.html">Новая заметка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="notes.html">Заметки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tags.html">Теги</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="row">
            <div class="col content">

                <h1>Теги</h1>
                <div class="alphabet">
                    <div class="col1">
                        <div class="letter">
                            <h2>В</h2>
                            <ul>
                                <li><a href="tag.html">вапвр</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="letter">
                            <h2>П</h2>
                            <ul>
                                <li><a href="tag.html">прнкап</a></li>
                            </ul>
                        </div>
                        <div class="letter">
                            <h2>У</h2>
                            <ul>
                                <li><a href="tag.html">укеу</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col3">
                        <div class="letter">
                            <h2>[0-9]</h2>
                            <ul>
                                <li><a href="tag.html">111</a></li>
                                <li><a href="tag.html">22</a></li>
                                <li><a href="tag.html">888</a></li>
                                <li><a href="tag.html">999</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-clear"></div>
                </div>
                <div class="alphabet">
                    <div class="col1">
                        <div class="letter">
                            <h2>H</h2>
                            <ul>
                                <li><a href="tag.html">hh</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="letter">
                            <h2>N</h2>
                            <ul>
                                <li><a href="tag.html">nn</a></li>
                            </ul>
                        </div>
                        <div class="letter">
                            <h2>R</h2>
                            <ul>
                                <li><a href="tag.html">rt</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col3">
                        <div class="letter">
                            <h2>Y</h2>
                            <ul>
                                <li><a href="tag.html">yu</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-clear"></div>
                </div>


            </div>
        </div>

        <br />

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="vendor/jquery-3.3.1.min.js"></script>
    <script src="vendor/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1.3/js/bootstrap.min.js"></script>
</body>

</html>